<!-- First navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark first-navbar">
    <div class="">
      <a class="navbar-brand" href="#home-jumbotron">anclist / web developer</a>
      <a class="nav-item" href="tel:+16474713759">(647) 471-3759</a>
    </div>
    <div class="">
      <a class="nav-item" href="https://www.linkedin.com/in/anclist/" target="_blank" title="linkedin: anclist"><i class="fab fa-linkedin social-icon"></i></a>
      <a class="nav-item" href="https://github.com/anclist" target="_blank" title="github: anclist"><i class="fab fa-github-square social-icon"></i></a>
      <a class="nav-item" href="https://www.instagram.com/anclist/" target="_blank" title="instagram: anclist"><i class="fab fa-instagram social-icon"></i></a>
      <a class="nav-item" href="https://twitter.com/anclist" target="_blank" title="twitter: anclist"><i class="fab fa-twitter-square social-icon"></i></a>
      <a class="nav-item" href="mailto:anclist@gmail.com" target="_blank" title="mail: anclist@gmail.com"><i class="fas fa-envelope-square social-icon"></i></a>
    </div>
  </nav>
<!-- End of First navbar -->

<!-- Second navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark second-navbar">
      <a class="navbar-brand" href="#home-jumbotron">
        <%= image_tag "anclist_logo.png", alt: "antonio manzanares web development logo", class: "nav-logo" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#home-jumbotron">Home</a>
          <a class="nav-item nav-link" href="#tech-stack">Tech Stack</a>
          <a class="nav-item nav-link" href="#">Projects</a>
          <a class="nav-item nav-link" href="#about">About</a>
<!-- Button trigger modal -->
          <a class="nav-item nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
<!-- End of Button trigger modal -->
        </div>
      </div>
    </nav>
<!-- End of Second navbar -->

<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Contact Modal -->


<!-- Main Jumbotron -->
  <div class="jumbotron jumbotron-fluid first-jumbotron"  id="home-jumbotron">
    <div class="container">
      <h1 class="display-1">anclist</h1>
      <p class="lead">WEB DEVELOPER</p>
    </div>
  </div>
<!-- End of Main Jumbotron -->

<!-- Tech Stack Cards -->
<div class="container tech-stack" id="tech-stack">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <%= icon('fab', 'html5', class: 'tech-stack-icon') %>
        <h5 class="card-title">HTML 5</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fab', 'css3-alt', class: 'tech-stack-icon') %>
        <h5 class="card-title">CSS 3</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fab', 'js', class: 'tech-stack-icon') %>
        <h5 class="card-title">JavaScript</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fab', 'bootstrap', class: 'tech-stack-icon') %>
        <h5 class="card-title">Bootsrap</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fas', 'gem', class: 'tech-stack-icon') %>
        <h5 class="card-title">Ruby on Rails</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fas', 'database', class: 'tech-stack-icon') %>
        <h5 class="card-title">Postgresql</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of Tech Stack Cards -->

<!-- About Antonio manzanares -->

<div class="jumbotron jumbotron-fluid about-jumbotron"  id="about">
  <div class="container">
    <div class="row">
      <div class="container col-12 col-md-3 tony-thumb-container">
        <%= image_tag "tony_thumb.jpg", alt: "antonio's candid picture", class: "tony-thumb" %>
      </div>
      <div class="container col-12 col-md-9">
        <h1 class="display-4">Antonio Manzanares</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </div>
    </div>
  </div>
</div>

<!-- End of About Antonio manzanares -->

<!-- Footer -->
  <footer class="navbar navbar-light bg-light">
    <p>built by: @anclist</p>
  </footer>
<!-- End of Footer -->
