<!-- Main Jumbotron -->
  <div class="jumbotron jumbotron-fluid first-jumbotron section"  id="home" data-section-name="home-section">
    <div class="container">
      <h1 class="display-1">anclist</h1>
      <p class="lead">WEB DEVELOPER</p>
    </div>
  </div>
<!-- End of Main Jumbotron -->

<!-- Tech Stack Cards -->
<div class="container tech-stack section" id="tech-stack" data-section-name="tech-section">
  <h2 class="display-4">Here's some of the cool tech I've been using</h2>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <%= icon('fab', 'html5', class: 'tech-stack-icon') %>
        <h5 class="card-title">HTML 5</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fab', 'css3-alt', class: 'tech-stack-icon') %>
        <h5 class="card-title">CSS 3</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fab', 'js', class: 'tech-stack-icon') %>
        <h5 class="card-title">JavaScript</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fab', 'bootstrap', class: 'tech-stack-icon') %>
        <h5 class="card-title">Bootsrap</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fas', 'gem', class: 'tech-stack-icon') %>
        <h5 class="card-title">Ruby on Rails</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= icon('fas', 'database', class: 'tech-stack-icon') %>
        <h5 class="card-title">PostgreSQL</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of Tech Stack Cards -->

<!-- Projects Jumbotron -->

<div class="jumbotron jumbotron-fluid mb-0 section"  id="projects" data-section-name="projects-section"">
  <div class="container">
    <h1 class="display-4">Projects Showcase</h1>
    <p class="lead">Want to piss on him? You don't have to try to impress me Morty. 25 shmeckles? I-I-I-I don't even know what that- what is that? Is that a lot? Well then get your shit together. Get it all together and put it in a backpack, all your shit, so it's together. ...and if you gotta take it somewhere, take it somewhere ya know? Take it to the shit store and sell it, or put it in a shit museum. I don't care what you do, you just gotta get it together... Get your shit together.</p>
    <p class="lead">Uh ohhh! Somersault jump! Slow down! What about the reality where Hitler cured cancer, Morty? The answer is: Don't think about it. I'd like to order one large phone with extra phones please. cell phone, no no no rotary... and payphone on half.</p>

  </div>
</div>

<!-- End of Projects Jumbotron -->


<!-- About Antonio manzanares -->

<div class="jumbotron jumbotron-fluid about-jumbotron section"  id="about" data-section-name="about-section">
  <div class="container">
    <div class="about-grid-container">
      <div class="container col-12 col-md-3">
        <%= image_tag "tony_thumb.jpg", alt: "antonio's candid picture", class: "tony-thumb" %>
      </div>
      <div class="container col-12 col-md-9">
        <h1 class="display-4">Antonio Manzanares</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </div>
    </div>
  </div>
</div>

<!-- End of About Antonio manzanares -->

<!-- Back to top -->
<div class="animated bounce infinite slower" id="back-to-top"><i class="fas fa-angle-double-up"></i></div>
<!-- End of Back to top -->
