<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <title>anclist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/first_navbar' %>
    <%= render 'layouts/second_navbar' %>
    <%= yield %>
    <%#= render 'layouts/footer' %>
  </body>
</html>
